<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <script>
        const community = null;
        if(!community) throw new Error('community is not defined');
    </script>
</body>
</html>
